Cognitive Computing

Assignment No 1

Name:Mahit Raj Adhikari

Roll.No:102317108

Group:2Q14

In [ ]:
print('Mahit Raj Adhikari')
print('Mahit Raj Adhikari')
print('Mahit Raj Adhikari')

Mahit Raj Adhikari
Mahit Raj Adhikari
Mahit Raj Adhikari

In [ ]:
a=2
b=4
c=6
d=a+b+c
print(d)

a1='Hello'
b1='Mahit'
c1=3
d1=a1+b1+str(c1)
print(d1)

12
HelloMahit3

In [ ]:
n=7
m=9
for i in range(1,11):
  print(n,'x',i,'=',n*i)
  print(m,'x',i,'=',m*i)

7 x 1 = 7
9 x 1 = 9
7 x 2 = 14
9 x 2 = 18
7 x 3 = 21
9 x 3 = 27
7 x 4 = 28
9 x 4 = 36
7 x 5 = 35
9 x 5 = 45
7 x 6 = 42
9 x 6 = 54
7 x 7 = 49
9 x 7 = 63
7 x 8 = 56
9 x 8 = 72
7 x 9 = 63
9 x 9 = 81
7 x 10 = 70
9 x 10 = 90

In [ ]:
n=int(input('Enter the number whose table is to be printed'))
for i in range(1,11):
  print(n,'x',i,'=',n*i)

Enter the number whose table is to be printed2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
n=int(input('Enter the nth term'))
s=0
for i in range(1,n+1):
  s=s+i

print(s)

Enter the nth term3
6

In [ ]:
p=int(input('Enter the first term'))
q=int(input('Enter the second term'))
r=int(input('Enter the third term'))
s=max(p,q,r)
print(s)

Enter the first term4
Enter the second term7
Enter the third term8
8

In [ ]:
t = 0  # Initialize total
n = int(input("Enter the nth term: "))

for i in range(1, n+1):
    if i % 7 == 0 and i % 9 == 0:  # Check each number in range
        t += i

print(t)

Enter the nth term: 67
63

In [ ]:
n = int(input("Enter the upper limit: "))
prime_sum = 0

for number in range(2, n + 1):
    is_prime = True

    for divisor in range(2, int(number**0.5) + 1):
        if number % divisor == 0:
            is_prime = False
            break

    if is_prime:
        prime_sum += number

print(f"Sum of prime numbers from 1 to {n}: {prime_sum}")

Enter the upper limit: 34
Sum of prime numbers from 1 to 34: 160

In [ ]:
def add_number(n):
  s = 0
  for i in range(1, n+1):
    if i % 2 != 0:
      s = s + i
  return s

print(add_number(10))

25

In [ ]:
def sum_prime_numbers(n):
    if n < 2:
        return 0

    prime_sum = 0

    for number in range(2, n + 1):
        is_prime = True

        for divisor in range(2, int(number**0.5) + 1):
            if number % divisor == 0:
                is_prime = False
                break
        if is_prime:
            prime_sum += number

    return prime_sum

print(sum_prime_numbers(10))

17