Assignment 2

In [1]:
#Q1
arr=[10,20,30,40,50,60,70,80]
arr.append(200)
arr.append(300)
for i in arr:
  print(i)
arr.remove(10)
arr.remove(30)
print(arr)
arr.sort(reverse=True)
print(arr)

10
20
30
40
50
60
70
80
200
300
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
#Q2
score=(45,89.5,76,45.4,89,92,58,45)
print(max(score))
print(score.count(min(score)))
s1=list(score)
s1[::-1]
print(s1)

User_input=76
if User_input in score:
  print("yes")
else:
  print("no")

92
2
[45, 89.5, 76, 45.4, 89, 92, 58, 45]
yes

In [3]:
#Q3
import random

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]


odd_numbers = []
even_numbers = []
prime_numbers = []


for number in random_numbers:
    if number % 2 == 0:
        even_numbers.append(number)
    else:
        odd_numbers.append(number)

    if is_prime(number):
        prime_numbers.append(number)

print("Random Numbers:", random_numbers)
print("\nCount of Odd Numbers:", len(odd_numbers))
print("Odd Numbers:", odd_numbers)
print("\nCount of Even Numbers:", len(even_numbers))
print("Even Numbers:", even_numbers)
print("\nCount of Prime Numbers:", len(prime_numbers))
print("Prime Numbers:",prime_numbers)

Random Numbers: [878, 195, 561, 629, 872, 729, 829, 377, 719, 658, 747, 691, 690, 353, 324, 522, 106, 577, 835, 184, 731, 671, 153, 579, 835, 639, 701, 231, 845, 149, 686, 329, 137, 377, 598, 536, 377, 777, 555, 887, 899, 244, 148, 270, 617, 811, 317, 794, 419, 275, 616, 504, 436, 470, 350, 855, 363, 461, 761, 772, 461, 421, 863, 347, 275, 401, 407, 165, 255, 756, 355, 205, 260, 259, 131, 341, 792, 648, 312, 167, 532, 302, 854, 566, 695, 612, 701, 490, 538, 654, 731, 830, 210, 306, 517, 597, 540, 246, 768, 722]

Count of Odd Numbers: 59
Odd Numbers: [195, 561, 629, 729, 829, 377, 719, 747, 691, 353, 577, 835, 731, 671, 153, 579, 835, 639, 701, 231, 845, 149, 329, 137, 377, 377, 777, 555, 887, 899, 617, 811, 317, 419, 275, 855, 363, 461, 761, 461, 421, 863, 347, 275, 401, 407, 165, 255, 355, 205, 259, 131, 341, 167, 695, 701, 731, 517, 597]

Count of Even Numbers: 41
Even Numbers: [878, 872, 658, 690, 324, 522, 106, 184, 686, 598, 536, 244, 148, 270, 794, 616, 504, 436, 470, 350, 772, 756, 260, 792, 648, 312, 532, 302, 854, 566, 612, 490, 538, 654, 830, 210, 306, 540, 246, 768, 722]

Count of Prime Numbers: 23
Prime Numbers: [829, 719, 691, 353, 577, 701, 149, 137, 887, 617, 811, 317, 419, 461, 761, 461, 421, 863, 347, 401, 131, 167, 701]

In [4]:
#Q4
A={34,56,78,90}
B={78,45,90,23}
print(A.union(B))
print(A.intersection(B))
print(A.symmetric_difference(B))
print(A.issubset(B))
print(B.issuperset(A))

x=int(input('Enter a number'))
if x in A:
  A.remove(x)
else:
  print('x is not present')

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
False
Enter a number45
x is not present

In [5]:
#Q5
dictt={
    "name": "Kelly",
    "age":25,
    "salary": 8000,
    "city": "New york"
}
dictt["location"]=dictt.pop("city")
print(dictt)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}